.cardList-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    border: 10px solid rgba(black, .1);
    border-radius: 10px;
    overflow: hidden;
}
