.header-wrapper{
    display: flex;
    flex-direction: row;
    margin: 4px;
    position: relative;
}

.search-form{
    display: inline-flex;
    width: 100%;
}

.search-box{
    width: 30%;
}

.header-logo{
    max-width: 100px;
}
  
.user-box{
    margin-left: auto;
}
  