.top-wrapper{
    margin-top: 94px;
    width: calc(10% - 24px);
    position: relative;
    width: 100%;
    margin: 0px auto;
    display: block;

    min-height: calc(100vh - 200px);
    max-width: 1580px;
}

.img-list-wrapper{

}

.title-wrapper{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    margin-bottom: 12px;
    box-sizing: border-box;
    display: block;

}

.chat-button{
    box-sizing: border-box;
    padding: 11px 15px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    text-decoration: none;
    vertical-align: center;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    color: white;
    background-color: #6C8B6C;
}

.main{
    position: relative;
    -webkit-box-flex: 1;
    width: 1580;
    max-width: 100%;
    margin: 0px auto;
    flex-grow: 1;
    width: 100%;
    display: block;
}

.grid-article{
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: 
    "A C"
    "B B";
    position: relative;
    box-sizing: border-box;
}


.main-img-wrapper{
    position: relative;
    text-align: center;
    grid-area: A;
    width: 677px;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}

.img-wrapper{
    border-radius: 8px;
    position: relative;
    opacity: 1;
    height: 100%;
    width: auto;
    min-width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    color:transparent;
    display: block;
    margin: 0;
    padding: 0;
}

.writer-and-content-wrapper{
    grid-column: auto / auto;
    grid-area: B;
    padding-right: 0px;
    padding-left: 12px;
    display: block;
}

.writer-profile-wrapper{
    width: 677px;
    margin: 0 auto;
    display: block;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 23px;
}

.writer-profile{
    display: flex;
    text-decoration: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.profile-picture {
    display: inline-block;
    overflow: hidden;
}

.writer{
    margin-left: 8px;
}

.writer-heart-temp{

}

.hide{
    position: absolute;
    left: -9999px;
    top: -9999px;
}

.category-wrapper{
    margin-top: 10px;
}

.price-wrapper{

}

.product-info-wrapper{
    padding: 32px, 0;
    display: block;
    width: 677px;
    margin: 0 auto;
    min-width: 0px;
    border-bottom: 1px solid #e9ecef;
    text-align: left;
}

.content-wrapper{
    font-size: 17px;
    line-height: 1.6;
    letter-spacing: -0.6px;
    margin: 16px 0;
    word-break: break-all;
    padding: 0;
    display: block;
}

.post-info-wrapper{
    font-size: 13px;
    line-height: 1.46;
    letter-spacing: -0.6px;
    display: block;
    margin: 0;
    padding: 0;
    margin-block-end: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.product-event-wrapper{
    grid-area: C;
    display: block;
    outline: none;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.product-detail{
    padding: 16px 0px;
    border-width: 1px 0px;

}

.detail-display-row{
    display: block;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    
}

.hot-more{
    width: 980px;
    margin: 0 auto;
    padding-top: 32px;
    position: relative;
    display: block;
    padding: 0;
}