body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



nav {
display: flex;
box-shadow: 0px 2.98256px 7.4564px rgba(0,0,0,0.1);
}

/* ChatBox */


.entered-name-div {
  color: #8e8b8b;
  margin-top: 40px;
}

.name-form-div, .empty-div {
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.form {
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}

.segment {
  padding: 16px 0;
  text-align: center;
}


label {
  display: block;
  margin-bottom: 16px;
  width: 100%;
}

input {
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}




.chat-boxes {
  max-width: 1800px;
  display: flex;
  justify-content: center;
  row-gap: 80px;
  column-gap: 80px;
  flex-wrap: wrap;
  margin: 50px;
}

/* ChatBox.js */

.card {
  width: 300px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
  padding: 8px;
}

.card-title {
  padding: 10px;
  color: #8e8b8b;
}

.message-area-maindiv {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.message-area {
  width: 280px;
  height: 280px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  border-radius: 5px;
  box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
}


/* Scroll Bar Style */

#scroll-style::-webkit-scrollbar-track {
  border-radius: 5px;
}

#scroll-style::-webkit-scrollbar {
  width: 6px;
  border-radius: 5px;
}

#scroll-style::-webkit-scrollbar-thumb {
  background-color: #e4e4ea;
  border-radius: 5px;
}

.message-sender {
  padding: 10px;
}

.message-item-sender {
  text-align: right;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  border-radius: 5px;
  color: #8e8b8b;
}

.message-item-sender span {
  padding: 5px;
}

.message-item-owner {
  text-align: left;
  padding: 10px;
  margin-bottom: 10px;
  background: #e3e3e3;
  box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  border-radius: 5px;
  color: #8e8b8b;
}

.message-item-owner span {
  padding: 5px;
}

.send-message-form {
  margin-top: 6px;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.input-group label {
  margin: 0;
  flex: 1;
}

.message-input {
  width: 210px;
  height: 45px;
}
a, .tab, input {
  -webkit-tap-highlight-color: transparent;
}
* {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: inherit;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  font-family: 'Nanum Barun Gothic', sans-serif;
  font-size: 12px;
}

a, button, input {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

button {
  border: 0 none;
  background: transparent;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
}

ol, ul {
  list-style: none;
}

div {
  display: block;
}

input {
  background: #fff;
}

label{
  cursor: pointer;
}

input[readonly] {
border: 0;
}

i {
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

strong {
  font-weight: bold;
}

label {
  cursor: pointer;
}
